<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>招聘数据挖掘可视化系统</title>
  <link rel="stylesheet" href="./lib/base.min.css">
  <link rel="stylesheet" href="./lib/fontello/fontello.css">
  <link rel="stylesheet" href="./lib/raleway/raleway.css">
  <link rel="stylesheet" href="./css/index.css">
</head>
<style>
#showUserName{
	text-align: center;
	font-size: 18px;
}
</style>
<body>
  <div class="content">
      <header class="header">
        <a class="logo" href="#"><i class="icon-header"></i><h1>jobHelper-System</h1></a>
        <div class="header-right">
          <ul>
            <li class="msg">
            </li><li class="profile">
            <div id="showUserName" class="user-name"></div>
            <div class="detail user-detail">
              <div class="con">
                <p>jobHelper</p>
              </div>
              <footer class="clearfix">
                <a class="fl" href="javascript:;">Profile</a>
                <a id="signOut" class="fr" >Sign out</a>
              </footer>
            </div>
          </li>
        </ul>
      </div>
      <div class="header-middle">
        <a id="pushMenu"class="push-menu" href="javascript:;"><i class="icon-menu"></i></a>
      </div>
    </header>
    <aside class="menu-wrap">
      <ul id="menuList" class="side-menu">
        <li>
          <a data-type="tab" title="总数据页" href="/jobHelper/pages/data"><i class="icon-code"></i><span>总数据页</span></a>
        </li>
        <li class="children">
          <a data-type="tab" title="数据挖掘" href="javascript:;"><i class="icon-doc-text"></i><span>数据操作</span></a>
           <ul>
            <li>
              <a data-type="tab" title="数据挖掘" href="/jobHelper/pages/dataSearch"><span>数据挖掘</span></a>
            </li>
             <li>
              <a data-type="tab" title="数据决策分析" href="/jobHelper/pages/dataManage"><span>数据决策分析</span></a>
            </li>
          </ul> 
        </li>
        <li>
          <a data-type="tab" title="招聘信息云图" href="/jobHelper/pages/dataCloudPhoto"><i class="icon-picture"></i><span>招聘信息云图</span></a>
        </li>
        <!--<li>
          <a  data-type="tab" title="决策信息查询" href="javascript:;"><i class="icon-font"></i><span>信息发布</span></a>
        </li>-->
<!--    <li>
          <a data-type="tab" title="用户管理" href="javascript:;"><i class="icon-file-image"></i><span>用户管理</span></a>
        </li>
        <li>
          <a data-type="tab" title="帮助" href="javascript:;"><i class="icon-bookmark"></i><span>帮助</span></a>
        </li> -->
      </ul>
    </aside>
    <div id="main" class="main">
      <nav class="nav">
        <ul id="nav" class="menu-tabs"></ul>
      </nav>
      <div class="page-con"></div>
      </div>
<script src="./lib/jquery.min.js"></script>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/main.js"></script>
<script>
$(document).ready(function () {
    $("#signOut").click(function () {
       localStorage.removeItem("userName");
       window.location.href = "/jobHelper/signOut";
   }); 
}) 
	$("#showUserName").text("当前用户："+localStorage.getItem("userName"));
</script>
<script>
    var $nav= $('#nav'),
        $navParent= $nav.parent(),
        lh=$('#menuList').find('li').first().height();

    // 导航栏隐藏／显示
    $('#pushMenu').on('click',function(){
      $('.content').toggleClass('hide-nav');
      setTabWidth();
    });

    //存在则激活tab, 否则新建tab 
    function clickMenu(url,txt){
      var i=-1;
      $nav.find('li').each(function(index, el) {
        if($(this).attr('data-txt')==txt){
          i=index;
          return false;
        }
      });
      if(i>-1){
        selectTab(i);
      } else {
        appendTab(txt);
        appendPage(url);
      }
    }
    //添加页面
    function appendPage(url){
      $('.page-con .page').removeClass('active');
      $('.page-con').append('<div class="page active"><iframe src="'+url+'" frameborder="0" width="100%" height="100%"></iframe></div>');
    }
    
    //添加tab
    function appendTab(txt){	
      $nav.find('li').removeClass('active');
      $nav.append('<li data-txt="'+txt+'" class="active"><a href="javascript:;">'+txt+'<i class="close">×</i></a></li>');
      var w=setTabWidth();
      //移动到新增tab
      $navParent.animate({'scrollLeft':w+'px'},600); 
    }

    //选择下一个tab
    function selectNext(i){
      var len=$nav.find('li').length;
      if(len<=1) return;
      selectTab(i>0?i-1:i+1);
    }

    //选择tab
    function selectTab(index){
      var selTab=$nav.find('li').eq(index),
          selTabLeft=selTab.position().left,
          tabWrapWidth=$navParent.width();

        selTab.addClass('active').siblings('.active').removeClass('active');
        $('.page-con .page').eq(index).addClass('active').siblings('.active').removeClass('active');
        
        //不在tab栏显示范围则滚动到可视范围内
        if(selTabLeft<0||selTabLeft>tabWrapWidth){
          $navParent.animate({ scrollLeft: selTabLeft }, 600);
        }
    }

    // 选择导航菜单
    $('#menuList').on('click','a',function(e){
      var $li=$(this).parent(),
          cul=$li.find('ul');

      if($(this).attr('data-type')!='tab')return;
      e.preventDefault();

      //有子菜单
      if($li.hasClass('children')){
        if($li.hasClass('active')){
          $li.removeClass('active');
          cul.css('height',0);
          return;
        } else{
          var h=cul.find('li').length*lh;
          cul.css('height',h+'px');
        }
      }

      $li.addClass('active').siblings('.active').removeClass('active');
      if($li.hasClass('children')) return;
      var url=$(this).attr('href'),
          txt=$.trim($(this).attr('title'));
      clickMenu(url,txt);
    });

    // 选择tab
    $nav.on('click','li',function(){
      if($(this).hasClass('active')) return;
      var index =$(this).index();
      selectTab(index);
    });

    // 关闭tab
    $nav.on('click','.close',function(e){
      e.preventDefault();
      e.stopPropagation();
      var $li=$(this).parent().parent(),
          index =$li.index();
      if($li.hasClass('active')){
        selectNext(index);
      }
      $li.remove();
      $('.page-con .page').eq(index).remove();
      setTabWidth();
    });

    //设置导航列表宽度
    function setTabWidth(){
      var w=0;
      var pw=$navParent.width();
      $nav.find('li').each(function(i,item){
        w+=$(item).outerWidth(true);
      });
      w=Math.max(w+10,pw);
      $nav.css('width',w+'px');
      return w;
    }

    function setWidth(){
      var winWidth=$(window).width();
      if(winWidth<769){
        $('.content').addClass('hide-nav');
      }
    }

    //设置高度
    function setHeight(){
      var winHeight=$(window).height(),
          headerHeight=$('.header').height(),
          footerHeight=$('.footer').height(),
          navHeight=$('.nav').outerHeight();
      $('.page-con').height(winHeight-headerHeight-navHeight-footerHeight);
    }
    function windowResize(){
      setHeight();
      setTabWidth();
      setWidth();
    }
    windowResize();
    $(window).on('resize',windowResize);

    //选择第一项
    $('#menuList a').first().click();
</script>
</body>
</html>
